<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Athlete> SignInManager
@inject UserManager<Athlete> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snow Ski</title>

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"> 
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Squadfree
    * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/CS330_Fall2024_FinalProject.styles.css" asp-append-version="true" /> *@

</head>


<body>
    @* <header id="header" class="header d-flex align-items-center fixed-top"> *@
    <header id="header" class="header d-flex align-items-center fixed-top @((ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "navbar-home" : "navbar-other")">
        <!--<nav id="navbar-section" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">-->
            <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
                <!-- Logo Section -->
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                    <h1 class="sitename">Snow Ski Team</h1>
                </a>
                <!-- Navbar Section -->
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <!-- Standard Links -->
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Schedule" asp-action="Index">Schedule</a></li>
                        <li><a asp-controller="Stats" asp-action="Index">Stats</a></li>

                        <!-- Role-Based Links -->
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            if (User.IsInRole("Athlete") && User.IsInRole("Manager") && User.IsInRole("Coach"))
                            {
                                <!-- Dropdown for multiple roles -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                        Role Pages <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Role" asp-action="Index">Athletes Page</a></li>
                                        <li><a asp-controller="Role" asp-action="Coach">Coach's Page</a></li>
                                        <li><a asp-controller="Role" asp-action="Manager">Manager's Page</a></li>
                                        <li><a asp-controller="ManageRoles" asp-action="Index">Manage Roles</a></li>
                                    </ul>
                                </li>
                            }
                            else if (User.IsInRole("Athlete") && User.IsInRole("Manager")){
                                <!-- Dropdown for multiple roles -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                        Role Pages <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Role" asp-action="Index">Athletes Page</a></li>
                                        <li><a asp-controller="Role" asp-action="Manager">Manager's Page</a></li>
                                        @* <li><a asp-controller="ManageRoles" asp-action="Index">Manage Roles</a></li> *@
                                    </ul>
                                </li>
                            }
                            else if (User.IsInRole("Athlete") && User.IsInRole("Coach")){
                                <!-- Dropdown for multiple roles -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                        Role Pages <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Role" asp-action="Index">Athletes Page</a></li>
                                        <li><a asp-controller="Role" asp-action="Coach">Coach's Page</a></li>
                                        <li><a asp-controller="Role" asp-action="Manager">Manager's Page</a></li>
                                        <li><a asp-controller="ManageRoles" asp-action="Index">Manage Roles</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <!-- Individual Role Links -->
                                @if (User.IsInRole("Athlete"))
                                {
                                    <li><a asp-controller="Role" asp-action="Index">Athletes Page</a></li>
                                }
                                @if (User.IsInRole("Coach"))
                                {
                                    <li><a asp-controller="Role" asp-action="Coach">Coach's Page</a></li>
                                    <li><a asp-controller="ManageRoles" asp-action="Index">Manage Roles</a></li>
                                }
                                @if (User.IsInRole("Manager"))
                                {
                                    <li><a asp-controller="Role" asp-action="Manager">Manager's Page</a></li>
                                }
                            }
                        }

                        <!-- Additional Links -->
                        <li><a asp-controller="CreateAthlete" asp-action="Index">Create New Athlete</a></li>
                        <li><a asp-controller="Roster" asp-action="Index">Roster</a></li>

                        <!-- Login/Logout/Register Links -->
                        <li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                                </li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </li>
                    </ul>

                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

            </div>
        <!--</nav> -->
    </header> 

    <div class="container"></div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Chat Bot Button on bottom right  -->
    <button id="chat-bot-button"
        class="btn2 btn-primary btn2-chat shadow-lg d-flex align-items-center justify-content-center"
        onclick="goToChatBot()">
        <img id="chat-bot-button-icon" src="~/Images/chatbot-icon.svg" alt="ChatBot Icon" />
    </button>

    <footer id="footer" class="footer dark-background py-3">
        <div class="container footer-top">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 footer-about d-flex align-items-center">
                    <a href="~/" class="logo d-flex align-items-center">
                        <h1 class="sitename me-3">Snow Ski</h1>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 text-end">
                    <p class="mb-0">
                        This website is built by Anastasia Spencer, Brooke Boskus, Collin Price, Owen McMenaman, and Jeongbin Son for CS 330 - Final Project.
                    </p>                
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @* style="display: none;" *@
    @* i cant figure out how to make this button only show up when theuser has scrolled 300 pixels down *@
    @* <button id="scrollToTopButton" class="scroll-to-top" onclick="scrollToTop()"  > 
    ↑
    </button> *@

</body>

</html>
