@{
    ViewData["Title"] = "Athlete Page";
}
@model ICollection<Athlete>

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-6 text-primary fw-bold">Athlete Page</h1>
        @if (@Model != null && @Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Profile Picture</th>
                        <th scope="col">Email</th>
                         <th scope="col">Name</th>
                         <th scope="col">Birthday</th>
                         <th scope="col">Number</th>
                        <th scope="col">Edit</th>
                   
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <th scope="row">@user.ProfilePicture</th>
                            <th scope="row">@user.Email</th>
                            <th scope="row">@user.Name</th>
                            <th scope="row">@user.Birthday</th>
                            <th scope="row">@user.Number</th>
                            <td>
                                <a asp-controller="Athlete" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>